<template>
  <div class="about">
    <h1>About Batvoice</h1>
    <p>
      Customer-relation departments and executive management use Batvoice to boost sales and customer satisfaction, and save costs by automating scorings (compliance & satisfaction) and coaching.

<br>Batvoice is a unique AI that transcribes service calls content & picks-up on emotional cues to turn topics and paint points into best actions to improve results.

It's plug & play, multilingual, with a multi-sectoral approach.
      </p>
  </div>
</template>
