import axios from "axios";
<template>
  <div class="home">
    <div class="container">
      <img alt="Vue logo" src="../assets/logo.png" />
      <HelloWorld msg="DRF & VueJS" />
             <div class="row">
        <div class="col-6 text-right">
          <audio controls :src="selected.location"></audio>
        </div>
        <label for="PickSegment" class="col-2 text-right">Pick Audio :</label>
        <div class="col-3">
          <select v-model="selected" class="form-control" id="PickSegment">
            <option v-for="(audio, a) in audios" v-bind:value="audio" :key="a">{{ audio.name }}</option>
          </select>
        </div>
      </div>
      <div class="row justify-content-center">
        <input
          type="textarea"
          class="form-control"
          id="transcript_txt"
          v-model="body"
          placeholder="..."
        />
      </div>
      <div class="row justify-content-center">
        <button type="button" class="btn btn-primary" @click="handleTranscript">transcribe</button>
      </div>
    </div>
  </div>
</template>
      
<script>
 import { apiService } from "../common/api.service"
 @ is an alias to /src

export default {
  name: "app",
  components: {},
  data() {
    return {
      name: null,
      audios: [],
      selected: {},
      body: "",
      exception: ""
    };
  },


methods: {
    handleTranscript() {
      const transcript_txt = {
        annotator: 1,
        body: this.body,
        audios: this.selected.id
      };
      this.body = "";
      axios.post("http://127.0.0.1:8081/transcriptions/", transcript_txt).then(response => {
        this.audios = response.data;
        console.log(response.data);
      });
    }
  },
  created() {
    axios.get("http://127.0.0.1:8081/audios/").then(response => {
      this.audios = response.data;
      console.log(this.audios);
    });
  }
};
</script>